<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <facebooktracking>
            <general>
                <enabled>0</enabled>
                <pixel_id></pixel_id>
                <access_token></access_token>
            </general>
        </facebooktracking>
    </default>
</config>
